.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 50px;
	position: fixed;
	top: 0;
	color: #dbedf3;
}

.logo {
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo img {
	width: 100px;
}

.logo h2 {
	font-weight: 400;
	font-size: 35px;
}

.links {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style-type: none;
}
.links li {
	overflow-x: hidden;
}

.links li:nth-child(2) {
	margin: 0 50px;
}

.links a {
	font-size: 20px;
}
.links a:last-child {
	color: #f73859;
}

.links div {
	background-color: #dbedf3;
	height: 3px;
	border-radius: 1px;
	transition: 0.3s;
}
